<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/menu.css">
<div class="sidebar">
    <img src="/img/logo-back.png" alt="">
    <ul>
        <li><a href="/feed"><i class="fa fa-home" aria-hidden="true"></i> Página Inicial</a></li>
        <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i> Pesquisar</a></li>
        <li class="inbox"><a href="/notification"><i class="fa fa-bell" aria-hidden="true"></i> Notificações</a> <div id="nt-num" class="inbox-num"><p id="nt-number">9+</p></div></li>
        <li class="inbox"><a href="/inbox"><i class="fa fa-envelope" aria-hidden="true"></i> Caixa de Entrada</a> <div id="in-num" class="inbox-num"><p id="inbox-number">9+</p></div></li>
        <li><a href="<%= `/perfil/${user.username}`%>"><i class="fa fa-user-circle" aria-hidden="true"></i> Perfil</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a></li>
    </ul>
</div>
<div class="sidebar-m">
    <ul>
        <li><a href="/feed"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li class="inbox"><a href="/notification"><i class="fa fa-bell" aria-hidden="true"></i></a> <div id="nt-num" class="inbox-num"><p id="nt-number">9+</p></div></li>
        <li class="inbox"><a href="/inbox"><i class="fa fa-envelope" aria-hidden="true"></i></a> <div id="in-num" class="inbox-num"><p id="inbox-number">9+</p></div></li>
        <li><a href="<%= `perfil/${user.username}`%>"><i class="fa fa-user-circle" aria-hidden="true"></i></a></li>
        <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
</div>
<script src="/js/posts-menu.js"></script>
