<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/menu.css">
<div class="sidebar">
    <ul>
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Página Inicial</a></li>
        <li><i class="fa fa-search" aria-hidden="true"></i><a href="/search">Pesquisar</a></li>
        <li><i class="fa fa-bell aria-hidden="true"></i><a href="/search">Notificações</a></li>
        <li class="inbox"><i class="fa fa-envelope" aria-hidden="true"></i><a href="/inbox">Caixa de Entrada</a> <div id="in-num" class="inbox-num"><p id="inbox-number">9+</p></div></li>
        <li><i class="fa fa-user-circle" aria-hidden="true"></i><a href="<%= helpers.baseUrl(`perfil/${user.username}`)%>">Perfil</a></li>
        <li><i class="fa fa-sign-out" aria-hidden="true"></i></i><a href="/logout">Sair</a></li>
    </ul>
</div>
<script src="/js/posts-menu.js"></script>
