@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #121212;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

hr{
    border: 0.5px solid rgb(75, 75, 75);
    width: 98%;
}

h1{
    color: white;
}

.sidebar{
    display: block;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #202020;
    border-right: 1px solid #393939;
}

.sidebar img{
    width: 70%;
    margin: 20px;
    margin-left: 0;
    margin-bottom: 0;
}

.sidebar-m{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #202020;
    color: white;
}

.sidebar-m ul{
    list-style: none;
    padding: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-m li{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sidebar-m li:hover {
    background-color: #393939;
}

.sidebar-m a {
    text-decoration: none;
    color: white;
}

.sidebar-m i{
    margin: 5px;
}

.content{
    margin-left: 250px;
}

@media (max-width: 700px) {
    .sidebar{
        display: none;
        background-color: red;
    }

    .content{
        margin-left: 0px;
    }

    .sidebar-m{
        display: flex;
    }
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    color: white;
    font-size: larger;
}

.sidebar li:hover {
    background-color: #393939;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar i{
    margin: 5px;
}

.inbox{
    display: flex;
}

.inbox a{
    margin-bottom: auto;
    margin-top: auto;
}

.inbox .inbox-num{
    margin-bottom: auto;
    margin-top: auto;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    display: none;
}

.inbox .inbox-num p{
    margin:auto;
    text-align: center;
    font-size: 13px;
    color: white;
}