@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #121212;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.sidebar{
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    background-color: #202020;
    border-right: 1px solid #393939;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    color: white;
    font-size: larger;
}

.sidebar a {
    text-decoration: none;
    color: white;
}

.sidebar i{
    margin: 5px;
}

.content{
    margin-left: 250px;
}
