.perfil-header{
    display: flex;
    color: white;
}

.perfil-header img{
    width: 15%;
    margin: 25px;
    border-radius: 50%;
}

.perfil-header .data{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}

.perfil-header .data h2{
    margin-top: 0px;
}

.perfil-header .data .config{
    color: gray;
    font-size: 25px;
}

.followButton{
    background-color: #393939;
    border: none;
    color: white;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.follow_data{
    display: flex;
}

.follow_data p{
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
}

.followers_table{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    padding: 20px;
    max-height: 50%;
    overflow: auto;
}

.followers_table h2{
    color: white;
}

.user{
    display: flex;
    border-bottom: 1px solid #393939;
    cursor: pointer;
}

.user:hover{
    background-color: #393939;
}

.user .user-text{
    display: block;
}

.user .user-text p{
    text-align: left;
    color: white;
}

.user img{
    width: 10%;
    border-radius: 50%;
    margin: 10px
}

.post-data{
    margin-left: 15%;
    margin-right: 15%;
}

.post-area{
    background-color: #393939;
    display: flex;
    margin-top: 10px;
    border-radius: 20px;
    width: 100%;
}

.post-area form{
    width: 100%;
}

.post-area img{
    width: 7%;
    border-radius: 50%;
    margin: 10px
}

.post-area .post-input{
    display: flex;
    width: 100%;
}

.post-area .post-input input{
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    border: none;
    background-color: #202020;
    padding: 10px;
    width: 85%;
    color: white;
}

.post-area hr{
    border-color: #202020;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-area button{
    margin: 5px;
    margin-left: 10px;
    width: auto;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
}

.post-area button:hover{
    background-color: #202020;
}

.post-division p{
    color: white;
}

.post-division hr{
    border-color: #202020;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-division a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.post-content-receiver a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
}

.post-division .post-content{
    background-color: #393939;
    border-radius: 20px;
}

.post-division .post-content .post-content-receiver, .post-name{
    display: flex;
}

.post-division .post-content .post-content-receiver .post-name p{
    color: #202020;
    margin-left: 5px;
    margin-right: 1px;
    margin-top: auto;
    margin-bottom: auto;
}

.text-receiver{
    margin: 0;
    margin-left: 10px;
}

.post-creator{
    border: 1px solid #202020;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
}

.actions{
    display: flex;
}

.actions button{
    margin: 5px;
    margin-left: 10px;
    width: auto;
    padding: 10px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;   
}

.actions button:hover{
    background-color: #202020;
}

.text-creator{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

.post-creator .post-creator-info{
    display: flex;
}

.post-division .post-content .post-content-receiver img{
    width: 7%;
    border-radius: 50%;
    margin: 10px
}

.post-creator-info img{
    width: 5%;
    border-radius: 50%;
    margin: 10px
}

.info-post-data{
    display: flex;
}

.user-comment-form{
    display: flex;
}

.user-comment-form img{
    border-radius: 50%;
    width: 8%;
}

.user-comment-form input{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
    background-color: #393939;
    padding: 10px;
    width: 85%;
    color: white;
}

.user-comment-form button{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    width: auto;
    padding: 8px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    display: flex;
}

.user-comment-form button:hover{
    background-color: #393939;
}

.delete-post{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: medium;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 10px;
}