.perfil-header{
    display: flex;
    color: white;
}

.perfil-header img{
    width: 15%;
    margin: 25px;
    border-radius: 50%;
}

.perfil-header .data{
    margin-top: 15px;
    display: block;
}

.perfil-header .data .config{
    color: gray;
    font-size: 25px;
}

.followButton{
    background-color: #393939;
    border: none;
    color: white;
    font-size: medium;
    padding: 10px;
    border-radius: 5px;
}

hr{
    border-color: #393939;
    margin: 5px;
}