<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testify</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/img/logo-ico.ico" type="image/x-icon">
</head>
<body>
    <div class="container-login">
        <div class="content-login">
            <img src="/img/logo.png" alt="">
            <h1>Faça seu Login</h1>
            <p>Entre com seus dados de acesso</p>
            <form action="/login" method="post">
                <input type="email" name="email" placeholder="Digite seu email" required>
                <input type="password" name="password" placeholder="Digite sua senha" required>
                <input type="submit" value="Logar" class="bt-login">
            </form>
            <p class="error"><%= error %></p>
            <a href="signup">Registre-se</a>
        </div>
    </div>
</body>
</html>